<div class="flagUnderBaner">
    <span class='flagUnderBaner__line flagUnderBaner__line--red'></span>
    <span class='flagUnderBaner__line flagUnderBaner__line--blue'></span>
    <span class='flagUnderBaner__line flagUnderBaner__line--red'></span>
    <figure class="flagUnderBaner__star">
        {{ teik_svg('icons/blue-star.svg') }}
    </figure>
</div>