
<div id="widget1" class="widget">
    <ul class="nav widget__tabs" id="widgetTabs" role="tablist">
    <li class="nav-item wt__item">
        <a class="nav-link wt__link active" id="tickets-tab" data-toggle="tab" href="#tickets" role="tab" aria-controls="tickets" aria-selected="true">{{ teik_svg('icons/Icon_tickets.svg') }}</a>
    </li>
    <li class="nav-item wt__item">
        <a class="nav-link wt__link" id="calendar-tab" data-toggle="tab" href="#calendar" role="tab" aria-controls="calendar" aria-selected="false">{{ teik_svg('icons/Icon_calendar.svg') }}</a>
    </li>
    <li class="nav-item wt__item">
        <a class="nav-link wt__link" id="hotel-tab" data-toggle="tab" href="#hotel" role="tab" aria-controls="hotel" aria-selected="false">{{ teik_svg('icons/Icon_hotel.svg') }}</a>
    </li>
    </ul>
    <div class="tab-content widget__content" id="widgetContent">
    <div class="tab-pane fade show active" id="tickets" role="tabpanel" aria-labelledby="tickets-tab">bilety...</div>
    <div class="tab-pane fade calendar" id="calendar" role="tabpanel" aria-labelledby="calendar-tab">
        <h3 class="wc__title">Sprawdz kiedy jestesmy  otwarci</h3>
        <div id="monthCalendar"></div>
        <div class="wc__legend">
            <ul>
                <li><span class="blue">niebieskie</span> - otwarte</li>
                <li><span class="white">białe</span> - rezwewacja części parku</li>
                <li><span class="red">czerwone</span> - zamknięte</li>
            </ul>
        </div>
    </div>
    <div class="tab-pane fade" id="hotel" role="tabpanel" aria-labelledby="hotel-tab">
        <div class="widget__hotel">
            <figure class="wh__logo">
                <img class="image" src="{{ Image(options.hotel_logo) }}">
            </figure>
            <div class="wh__text">
                Zarezewuj pokój w Hotelu Texas bezpośrednio na stronie
            </div>
            <div class="wh__button">
                <a class="button" href="{{options.hotel_link.url}}" target="_blank" rel="noopener noreferrer">{{options.hotel_link.title}}</a>
            </div>
        </div>
    </div>
    </div>
</div>





