<div id="maincontent">
  {% include 'components/header.twig' %}

    <main id="pagecontent" class="pagewrap">
      {% block page %}
      {% endblock page %}
    </main>

  {% include 'components/footer.twig' %}
</div>