.button {
  &--primary {
    color: #fff;
    font-family: $font-family;
    background: $primary;
    text-decoration: none;
    padding: 0.8rem 3rem;
    font-size: 1.2rem;
    cursor: pointer;

    @include min-width("md") {
      padding: 0.8rem 3.5rem;
    }

    &:hover {
      color: #fff;
      box-shadow: 0px 0px 15px 2px $primary;
    }
  }
  &--more {
    color: $secondary;
    font-size: 0.9rem;
    font-family: $font-family-second;
    border-bottom: 3px solid $primary;
    padding: 11px 44px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 13px;
      border-left: 3px solid #c4a252;
      left: 0;
      bottom: 0;
    }

    &:hover {
      text-decoration: none;
    }
  }
}
