.footer {
  background-size: contain;
  background-repeat: no-repeat;

  .container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  &__first-row,
  &__second-row {
    justify-content: space-between;
    align-items: flex-start;

    @include min-width("md") {
      align-items: center;
    }
  }
  &__first-row {
    display: flex;
    background-size: cover;

    @include min-width("md") {
      align-items: flex-start;
      padding: 3rem 0;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      overflow: hidden;
    }
    .wrapper {
      width: 100%;
      display: flex;
      flex-direction: column;

      @include min-width("md") {
        flex-direction: row;
      }
    }
  }
  &__column {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;

    @include min-width("lg") {
      width: 25%;
    }
    &--first {
      padding: 2.5rem 0;
      order: 1;
      display: flex;
      align-items: center;

      @include min-width("lg") {
        order: 1;
        padding: 0 1.5rem 0 0;
      }
    }

    &--second {
      order: 2;

      @include min-width("lg") {
        order: 2;
        display: block;
        max-width: 20%;
      }
    }
    &--third {
      order: 3;

      @include min-width("lg") {
        padding-left: 1.5rem;
        order: 3;
      }
    }
    &--fourth {
      display: flex;
      flex-direction: column;
      order: 4;
      padding: 2rem 0;

      @include min-width("lg") {
        padding: 0 0 0 1.5rem;
        order: 4;
        justify-content: flex-start;
        align-items: flex-end;
      }
    }
  }
  &__contact {
    color: #fff;
    font-family: $font-family-second;

    .title {
      font-size: 1rem;
      font-weight: 700;
      margin: 1.5rem 0 1rem;
    }
    p {
      font-size: 0.85rem;
      line-height: 1.4rem;

      a {
        color: #fff;

        &:hover {
          color: $primary;
          text-decoration: none;
        }
      }
    }
  }
  &__contact-form {
    .title {
      font-size: 1.2rem;
      max-width: 60%;
      font-weight: 700;
      margin-bottom: 1rem;
      color: #fff;
      font-family: $font-family-second;
    }
  }

  &__second-row {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: $secondary;

    @include min-width("md") {
      flex-direction: row;
    }
  }

  &__company-logo {
    width: 100%;

    a {
      @include min-width("md") {
        display: flex;
        justify-content: center;
      }
    }
    svg {
      max-width: 50%;
      fill: #fff;

      @include min-width("md") {
        max-width: 90%;
      }
      @include min-width("xl") {
        max-width: 85%;
      }
    }
  }
  &__navigation {
    .nav {
      &__menu {
        display: flex;
        flex-direction: column;
        padding-left: 0;
        align-items: flex-start;
      }
      &__item {
        margin-bottom: 0.2rem;
        padding-right: 1rem;
        line-height: 0.7rem;

        @include min-width("md") {
          line-height: 1rem;
        }

        &:hover {
          .nav__link {
            &::after {
              display: none;
            }
          }
        }
      }
      &__link {
        color: #fff;
        font-size: 0.7rem;
        font-weight: 600;
        font-family: $font-family-second;
      }
    }
  }

  &__promotion {
    padding-left: 1rem;
    margin-bottom: 2rem;

    @include min-width("md") {
      padding-left: 0;
    }
  }

  .social-menu {
    display: flex;
    svg {
      fill: #fff;
    }
  }

  &__copyrights {
    font-size: 0.7rem;
    font-family: $font-family-second;
    font-weight: 400;
    color: $secondary;
    margin-top: 20px;

    @include min-width("md") {
      margin-top: unset;
    }
  }
}
