.header {
  display: flex;
  padding: 1rem 1rem 1rem 23px;
  position: relative;

  @include min-width("lg") {
    justify-content: space-between;
    padding: 1rem 1rem 1rem 27px;
  }

  @include min-width("xxl") {
    align-items: center;
    padding: 1rem 4rem 33px;
  }
  &::after {
    @include before(0px, 0px);
    width: 100%;
    height: 3px;
    background: $primary;
    box-shadow: 0px -5px 13px -4px rgba(0, 0, 0, 0.75);

    @include min-width("lg") {
      height: 7px;
    }

    @include min-width("xxl") {
      height: 13px;
    }
  }

  &--main {
    width: 100%;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 5px 0px;
    top: 0;
    z-index: 30;
  }

  &__logo {
    max-width: 150px;

    @include min-width("lg") {
      max-width: 170px;
    }

    @include min-width("xxl") {
      max-width: 300px;
    }
  }

  &__nav-toggle {
    @include resetButton();
    max-width: 33px;
    align-self: center;
    margin-left: auto;
    svg {
      display: block;
      * {
        transition: all 0.3s;
      }
    }
    &:hover,
    &:focus {
      @include colorSVG($color-primary);
    }
    @include min-width("lg") {
      display: none;
    }
  }
  .social-menu__item {
    svg {
      fill: $secondary;
    }
  }
}
