.nav {
  &__drop {
    padding: 1rem;
    top: 1rem;
    left: -1rem;
    left: -1rem;
    background: #fff;
    width: 100%;
    display: none;

    @include min-width("lg") {
      position: absolute;
      padding: 3rem 1rem 1rem;
    }

    &-item {
      margin-bottom: 0.9rem;
    }
  }
  &--menu {
    display: flex;
    align-items: center;
  }
  &__menu {
    display: flex;
    align-items: center;

    @include max-width("lg") {
      flex-direction: column;
      position: fixed;
      align-items: flex-start;
      top: 0;
      bottom: 0;
      right: 0;
      padding: 6rem 2rem 2rem;
      max-width: 300px;
      width: 70%;
      transform: translateX(100%);
      opacity: 0;
      visibility: hidden;
      box-shadow: none;
      transition: all 0.3s;
      background: #fff;
      z-index: 2;

      &.is-open {
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
        box-shadow: 0 0 10px 0 #000;
      }
    }
    &--mobile {
      .social-menu {
        display: none;

        &__list {
          padding-left: 0;
          margin-top: 2rem;
        }
        &__item {
          max-width: 2rem;
        }

        @include max-width("lg") {
          display: block;
        }
      }
    }
  }
  .current {
    a {
      color: $primary;
    }
  }
  &__item {
    font-size: 1.1rem;
    margin-bottom: 1.2rem;
    position: relative;
    @include resetFocus;

    @include min-width("lg") {
      margin-bottom: unset;
      padding: 0 1.1rem 0 0;
      font-size: 0.7rem;
    }
    @include min-width("xl") {
      font-size: 0.95rem;
      padding: 0 3rem 0 0;
    }
    @include min-width("xxl") {
      padding: 0 4.75rem 0 0;
    }
  }
  &__link {
    color: $secondary;
    font-weight: 700;
    text-decoration: none;
    font-family: $font-family-second;
    position: relative;
    text-transform: uppercase;

    &:focus {
      outline: none;
    }

    @include min-width("lg") {
      font-weight: 700;
    }

    &:after {
      @include before(0px, -10px);
      width: 0%;
      height: 4px;
      background: $secondary;
      border-radius: 2rem;
      z-index: 100;
      transition: ease-in;

      @include min-width("xxl") {
        @include before(0px, -63px);
        height: 7px;
      }
    }
    &:hover {
      text-decoration: none;

      &:after {
        transition: ease-in 0.6s;
        width: 100%;
      }
    }
  }
}

.footer__nav {
  .nav {
    &__drop {
      position: relative;
      background: none;
      height: auto;
      padding: 1rem;
      margin-left: 1rem;
    }
  }
}
