.social-menu {
  display: none;

  @include min-width("lg") {
    display: flex;
    align-items: center;
  }
  &__list {
    display: flex;
    flex-direction: row;
  }
  &__item {
    max-width: 1.75rem;

    &:first-of-type {
      margin-right: 1.35rem;

      @include min-width("xl") {
        margin-right: 1.75rem;
      }
    }
  }
}
