<footer id="mainfooter" class="footer">
    <div class="footer footer__first-row" style="background-image: url('{{ Image(options.background_image).src }}')">
       <div class="container">
        <div class="wrapper">
          <div class="footer__column footer__column--first">
            <div class="footer__company-logo">
              <a href="{{ site.home_url }}">
                {{ teik_svg('TP_logo.svg') }}
              </a>
            </div>
          </div>
          <div class="footer__column footer__column--second">
            <div class="footer__navigation">
              <nav id="footer-navigation-1" class="footer__nav">
                <ul id="footer-menu-1" class="footer__menu footer__menu--1" data-name="menu">


                  {% for key,item in menus.footer_rules.items %}

                  {% set current = 'current-menu-item' in item.classes ? 'current' : '' %}
                  {% set children = item.children ? 'nav__item--parent' : '' %}

                    <li class="nav__item {{current}} {{children}}">
                      <a href="{{ item.link }}" class="nav__link" {{ item.target ? 'target="' ~ item.target ~ '"' : '' }}>
                        {{ item.title }}
                      </a>
                      {% if item.children %}
                        <ul class="nav__drop">
                            {% for child in item.children %}
                                <li class="nav__drop-item">
                                    <a  class="nav__link" href="{{ child.link }}">{{ child.title }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                      {% endif %}
                    </li>
                  {% endfor %}
                </ul>
              </nav>
            </div>
          </div>
          <div class="footer__column footer__column--third">
            <div class="footer__navigation">
              <nav id="footer-navigation-1" class="footer__nav">
                <ul id="footer-menu-1" class="footer__menu footer__menu--2" data-name="menu">


                  {% for key,item in menus.footer.items %}

                  {% set current = 'current-menu-item' in item.classes ? 'current' : '' %}
                  {% set children = item.children ? 'nav__item--parent' : '' %}

                    <li class="nav__item {{current}} {{children}}">
                      <a href="{{ item.link }}" class="nav__link" {{ item.target ? 'target="' ~ item.target ~ '"' : '' }}>
                        {{ item.title }}
                      </a>
                      {% if item.children %}
                        <ul class="nav__drop">
                            {% for child in item.children %}
                                <li class="nav__drop-item">
                                    <a  class="nav__link" href="{{ child.link }}">{{ child.title }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                      {% endif %}
                    </li>
                  {% endfor %}
                </ul>
              </nav>
            </div>
          </div>
          <div class="footer__column footer__column--fourth">
            <div class="footer__promotion">
              <a class="button button--footer" href="{{options.promotion.url}}">{{options.promotion.title}}</a>
            </div>
            {% include 'components/social.twig' %}
          </div>
        </div>
      </div>
    </div>
    <div class="footer footer__second-row">
      <div class="container">
        <div class="footer__copyrights">
          &copy;2020 - Twin pigs  All rights reserved
        </div>
      </div>
    </div>
</footer>