 <header id="main-header" class="header header--main">
    <div class="header__logo header__logo">
      <a href="{{ site.home_url }}">
        {{ teik_svg('TP_logo.svg') }}
      </a>
    </div>

    {% include 'components/nav.twig' %}

    {% include 'components/social.twig' %}

    <button type="button" class="header__nav-toggle js-menu" data-target="#main-menu">
      {{ teik_svg('icons/menu.svg') }}
    </button>
</header>