<nav id="navigation" class="nav nav--menu">
{% set home = post.slug == 'strona-glowna' ? 'nav__menu--home' : '' %}
  <ul id="main-menu" class="nav__menu {{home}} nav__menu--desktop js-scrollbar" data-name="menu">

      {% for key,item in menus.home.items %}
        {% set current = 'current-menu-item' in item.classes ? 'current' : '' %}
        {% set children = item.children ? 'nav__item--parent' : '' %}

          <li class="nav__item {{current}} {{children}} js-home-item">
            <a href="{{ item.link }}" class="nav__link nav__link--parrent" {{ item.target ? 'target="' ~ item.target ~ '"' : '' }}>
              {{ item.title }}
            </a>
            {% if item.children %}
              <ul class="nav__drop">
                  {% for child in item.children %}
                      <li class="nav__drop-item">
                          <a  class="nav__link" href="{{ child.link }}">{{ child.title }}</a>
                      </li>
                  {% endfor %}
              </ul>
            {% endif %}
          </li>
        {% endfor %}

    <div class="nav__menu--mobile">
      {% include 'components/social.twig' %}
    </div>
  </ul>

</nav>
