<div class="social-menu">
    <ul class="social-menu__list">
        <li class="social-menu__item social-menu__item--facebook">
            <a target="_blank" href="{{ options.facebook }}">
                {{ teik_svg('facebook.svg') }}
            </a>
        </li>
        <li class="social-menu__item social-menu__item--instagram">
            <a target="_blank" href="{{ options.instagram }}">
                {{ teik_svg('instagram.svg') }}
            </a>
        </li>
    </ul>
</div>