.button {
  padding: 0.3rem 2.5rem;
  font-size: 1.1rem;
  font-weight: 700;
  font-family: $font-family-second;
  border-radius: 5rem;
  text-transform: uppercase;
  cursor: pointer;

  &:hover {
    text-decoration: none;
    color: #fff;
  }

  &--buy {
    background: $secondary;
    color: #fff;
  }
  &--footer {
    font-size: 0.75rem;
    color: $secondary;
    background: #fff;
    padding: 0.3rem;
    border: 2px solid transparent;

    @include min-width("lg") {
      font-size: 0.9rem;
      padding: 0.3rem 0.6rem;
    }

    &:hover {
      border: 2px solid $secondary;
      color: $secondary;
    }
  }
}
