.flagUnderBaner {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: -1px;
  position: relative;
  z-index: 10;

  &__line {
    height: 0.7rem;

    &--red {
      background: $color-american-red;
    }
    &--blue {
      background-color: $secondary;
      margin: 0.6rem 0;
    }
  }
  &__star {
    position: absolute;
    left: calc(50% - 2.7rem);
    top: -57%;
    max-width: 5.4rem;

    svg {
      .cls-1,
      .cls-2 {
        stroke: transparent !important;
      }
    }
  }
}
