.widget {
  .fc {
    padding-bottom: 0.3rem;
    border-bottom: 1.5px solid $secondary;

    &-center {
      h2 {
        font-family: $font-family-second;
        font-weight: 700;
        text-transform: capitalize;
        font-size: 0.8rem;
        color: $secondary;
      }
    }
    &-toolbar {
      border-bottom: 1.5px solid $secondary;
    }
    &-header-toolbar {
      margin-bottom: 0.3rem;
    }
    &-button {
      background: transparent;
      border: none;
      padding: 0.2em 0.45em;

      &:active {
        .fc-icon {
          &:before {
            color: #fff;
          }
        }
      }

      .fc-icon {
        &:before {
          color: $secondary;
        }
      }
    }
    .fc-dayGrid-view .fc-body .fc-row {
      min-height: 1.5rem;
      max-height: 1.5rem;
      border-color: transparent;
    }
    .fc-content-skeleton {
      .fc-day {
        border: unset;
      }
    }
  }
  .fc-bgevent {
    background: $color-american-red;
    opacity: 0.8;
  }
  .fc-ltr .fc-dayGrid-view .fc-day-top .fc-day-number {
    float: unset;
    font-family: $font-family-second;
    font-size: 0.8rem;
    font-weight: 700;
    color: $secondary;
  }
  .fc .fc-row .fc-content-skeleton table,
  .fc .fc-row .fc-content-skeleton td,
  .fc .fc-row .fc-mirror-skeleton td {
    text-align: center;
  }
  .fc-unthemed th,
  .fc-unthemed td,
  .fc-unthemed thead,
  .fc-unthemed tbody,
  .fc-unthemed .fc-divider,
  .fc-unthemed .fc-row,
  .fc-unthemed .fc-content,
  .fc-unthemed .fc-popover,
  .fc-unthemed .fc-list-view,
  .fc-unthemed .fc-list-heading td {
    border-color: transparent;
  }
  .fc-scroller {
    overflow: hidden !important;
    height: auto !important;
  }
  .fc-content-skeleton tbody td:empty {
    display: none;
  }
  .fc-unthemed td.fc-today {
    background: transparent !important;

    .fc-day-number {
      border-bottom: 3px solid $secondary;
    }
  }
}
