.seasonCalendar {
  padding: 4rem 0;

  .months-container {
    font-family: $font-family-second;
    color: $secondary;
    font-weight: 700;
    padding: 0 3rem;
    display: grid !important;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    @include min-width("md") {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(4, 1fr);
    }

    @include min-width("lg") {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, 1fr);
    }

    @include min-width("xxl") {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(2, 1fr);
      min-height: 650px;
    }

    .month-container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100% !important;
      height: 100% !important ;
    }

    div[data-month-id="0"] {
      display: none;

      @include min-width("xxl") {
        display: block;

        .month {
          display: none;
        }
      }
    }
    div[data-month-id="3"] {
      .month-title {
        &::after {
          background-image: url("../images/calendar/Icon_april.svg");
        }
      }
    }
    div[data-month-id="4"] {
      .month-title {
        &::after {
          background-image: url("../images/calendar/Icon_may.svg");
        }
      }
    }
    div[data-month-id="5"] {
      .month-title {
        &::after {
          background-image: url("../images/calendar/Icon_june.svg");
        }
      }
    }
    div[data-month-id="6"] {
      .month-title {
        &::after {
          background-image: url("../images/calendar/Icon_july.svg");
        }
      }
    }
    div[data-month-id="7"] {
      .month-title {
        &::after {
          background-image: url("../images/calendar/Icon_august.svg");
        }
      }
    }
    div[data-month-id="8"] {
      .month-title {
        &::after {
          background-image: url("../images/calendar/Icon_september.svg");
        }
      }
    }
    div[data-month-id="9"] {
      .month-title {
        &::after {
          background-image: url("../images/calendar/Icon_november.svg");
        }
      }
    }

    div[data-month-id="1"],
    div[data-month-id="2"],
    div[data-month-id="10"],
    div[data-month-id="11"] {
      display: none;
    }

    .month {
      .month-title {
        background-color: $primary;
        font-size: 1.5rem;
        text-align: left;
        padding: 0.2rem 0.3rem;
        margin-bottom: 2.5rem;
        position: relative;

        &::after {
          content: "";
          width: 50px;
          height: 50px;
          position: absolute;
          right: 0;
          background-repeat: no-repeat;
          top: -15%;
        }
      }
      thead {
        tr {
          &:last-of-type {
            border-bottom: 3px solid $primary !important;
          }
        }
      }
      .day-content,
      .day-header {
        font-size: 0.9rem !important;
        padding: 1rem 0 0;
      }
    }
  }
}
.tippy-box[data-theme~="twinpigs"] {
  font-family: $font-family-second;
  font-weight: 700;
  font-size: 0.8rem;
  text-align: center;
  padding: 0.3rem;
  background-color: $primary;
  color: $secondary;
  box-shadow: 0px 0px 3px 3px $secondary;
  bottom: -14px;
}
.tippy-box[data-theme~="twinpigs"][data-placement^="bottom"]
  > .tippy-arrow::before {
  border-bottom-color: $primary;
  transform: scale(2.5);
  border-width: 0 7px 16px 7px;
}
