.widget {
  display: flex;
  height: 100%;
  flex-direction: column;
  padding: 1rem;

  @include min-width("lg") {
    flex-direction: row;
  }

  &__tabs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: -0.4rem;

    @include min-width("lg") {
      flex-direction: column;
      justify-content: space-evenly;
    }
    .wt {
      &__item {
        @include min-width("lg") {
          margin-right: -0.8rem;
        }

        .active {
          background: $primary;

          &:hover {
            background: $primary;
          }
        }
      }
      &__link {
        padding: 0.7rem 1.2rem 1.1rem 1.2rem;
        background: #fff;
        border-radius: 0.5rem;

        @include min-width("lg") {
          padding: 1.2rem 1.2rem 1.2rem 0.7rem;
        }

        &:hover {
          background: #ffe062;
        }

        svg {
          max-width: 2.5rem;

          @include min-width("lg") {
            max-width: 3.8rem;
          }

          .st0 {
            fill: $secondary;
          }
        }
      }
    }
  }
  &__content {
    width: 100%;
    height: 100%;
    background: $primary;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;

    .tab-pane {
      height: 100%;
    }

    .calendar {
      padding: 0.5em 0.5rem;

      @include min-width("lg") {
        padding: 0.7rem;
      }
      .wc {
        &__title {
          font-size: 1rem;
          font-family: $font-family-heading;
          color: $secondary;
          text-align: center;
          text-transform: uppercase;
          padding: 0.5rem 0 0.3rem;

          @include min-width("lg") {
            font-size: 1rem;
            padding: 0.2rem 0 0.3rem;
          }
        }
        &__legend {
          font-size: 0.7rem;
          font-family: $font-family-second;
          padding-top: 0.5rem;
          font-weight: 600;

          li {
            margin-bottom: 0.3rem;

            span {
              font-weight: 700;
              padding: 0.1rem 0.3rem;
            }
          }

          .red {
            background: $color-red;
          }
          .blue {
          }
          .white {
            background: #fff;
          }
        }
      }
    }
  }
  &__hotel {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    padding: 0.5rem 1.5rem;

    .wh {
      &__logo {
        padding-bottom: 3rem;
      }
      &__text {
        font-family: $font-family;
        font-size: 0.85rem;
        text-align: center;
        color: $secondary;
        line-height: 1.5;
        margin-bottom: 0.5rem;
      }
      &__button {
        padding-top: 0.5rem;
        .button {
          font-size: 1rem;
          background: $secondary;
          color: #fff;
          padding: 0.3rem 1.2rem;
          font-size: 0.85rem;
        }
      }
    }
  }
}
