{% extends "layouts/base.twig" %}
{% block page %}
{% include 'components/services-banner.twig' %}


  <div class="container services">
    <div class="services__intro">
      Sułkowski Legal zapewnia przedsiębiorcom stałą ochronę prawną w pełnym zakresie potrzeb.

Stale podnosimy standard naszych usług: zespół Kancelarii uczestniczy w szkoleniach i warsztatach zmierzających do nieustannego podnoszenia kompetencji. Dzielimy się naszą fachową wiedzą oraz doświadczeniem. Na bieżąco monitorujemy zmiany regulacyjne oraz sporządzamy alerty prawne dla naszych Klientów.

W codziennej pracy wykorzystujemy środki komunikacji elektronicznej, dostosowane do indywidualnych potrzeb Klientów, aby zapewnić bieżący kontakt, szybką obsługę oraz dostęp do danych z każdego niemal miejsca na świecie.

Zapraszamy do zapoznania się z naszą specjalizacją oraz do kontaktu.

    </div>
    <div class="services__posts">

      {% for item in posts %}
        <div class="services__single">
          <h4 class="services__single__title">{{item.post_title}}</h4>
          <div class="services__single__description">{{item.post_content}}</div>
        </div>
      {% endfor %}

    </div>
  </div>
{% endblock page %}