.section {
  &__banner {
    position: relative;
    background-image: url("../images/home_banner_mobile.png");
    background-size: cover;

    @include min-width("lg") {
      background-image: unset;
    }

    .sb {
      &__image {
        display: none;

        @include min-width("lg") {
          display: block;
        }
      }
      &__widget {
        width: 100%;
        height: 90%;
        position: absolute;
        top: 2.5%;
        left: 0%;
        z-index: 10;

        @include min-width("lg") {
          width: 80%;
          height: 70%;
          top: 15%;
          left: 10%;
        }
        @include min-width("xxl") {
          width: 70%;
          left: 15%;
        }

        .container {
          height: 100%;
        }
        .sbw {
          &__wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 100%;

            @include min-width("lg") {
              flex-direction: row;
              justify-content: space-between;
            }
          }
          &__slogan {
            display: flex;
            justify-content: center;

            .img-fluid {
              max-width: 60%;

              @include min-width("xxl") {
                max-width: 100%;
              }
            }
          }
          &__widget {
            width: 420px;
            height: 440px;
            max-width: 100%;
          }
        }
      }
    }
  }
}
