.callToBuy {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  &__wrapper {
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include min-width("lg") {
      padding: 4rem 0;
    }
  }
  &__icon {
    display: flex;
    justify-content: center;

    .icon-svg {
      max-width: 20rem;
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    @include min-width("lg") {
      max-width: 60%;
    }
  }
  &__title {
    font-size: 1.5rem;
    font-family: $font-family-heading;
    color: $secondary;
    margin-bottom: 0.7rem;

    @include min-width("lg") {
      font-size: 1.8rem;
    }
  }
  &__subtitle {
    font-size: 1.1rem;
    font-family: $font-family-second;
  }
  &__buttons {
    padding: 1.5rem 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    @include min-width("lg") {
      flex-direction: row;
    }

    .button {
      max-width: 85%;

      @include min-width("lg") {
        max-width: unset;
      }
      &--1 {
        margin-bottom: 1rem;

        @include min-width("lg") {
          margin-bottom: unset;
        }
      }
      &--2 {
        background: $primary;
        color: black;

        @include min-width("lg") {
          margin-left: 2rem;
        }
      }
    }
  }
  &__welcome {
    margin-top: 4rem;

    .section-title {
      margin-bottom: 0;
      text-transform: uppercase;
    }
  }
}
