.contact {
  &__wrapper {
    display: flex;
    flex-direction: column;
    padding: 1rem 0;

    @include min-width("lg") {
      flex-direction: row;
      justify-content: space-between;
      padding: 4rem 0;
    }
  }
  &__column {
    margin-bottom: 1rem;

    @include min-width("lg") {
      width: 33%;
      margin-bottom: unset;
    }
    &--3 {
      display: flex;
      align-items: center;

      @include min-width("lg") {
        flex-direction: column;
      }
    }

    .cc {
      &__title {
        font-size: 1rem;
        font-family: $font-family-second;
        font-weight: 700;
        color: $secondary;
        text-transform: uppercase;
        padding: 0 0 1rem 2.5rem;

        @include min-width("lg") {
          font-size: 1.2rem;
          padding: 0 0 1.5rem 3rem;
        }
      }
      &__mail,
      &__phone {
        display: flex;
        align-items: center;

        svg {
          max-width: 2rem;

          @include min-width("lg") {
            max-width: 2.5rem;
          }

          .st0 {
            fill: $secondary;
          }
        }
      }
      &__href {
        padding-left: 0.5rem;
        font-size: 1rem;
        font-family: $font-family-second;
        font-weight: 700;
        color: $secondary;

        @include min-width("lg") {
          font-size: 1.2rem;
        }
      }
      &__social {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
        margin-right: 1rem;

        svg {
          max-width: 2.5rem;
          fill: $secondary;
        }
      }
    }
  }
}
