.drive {
  background-repeat: no-repeat;
  background-size: cover;

  &__header {
    padding: 3rem 0;

    .section-title {
      text-align: center;
      color: #fff;
    }
  }
  &__items {
    display: flex;
    flex-direction: column;

    @include min-width("md") {
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }
  &__single {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin-bottom: 1rem;

    @include min-width("md") {
      width: 48%;
    }

    @include min-width("lg") {
      width: 30%;
      margin-bottom: 4.5rem;
    }

    .ds {
      &__icon {
        width: 6rem;
        background-color: $primary;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        padding: 1.5rem;

        @include min-width("lg") {
          width: 8rem;
        }
      }
      &__title {
        color: $primary;
        font-family: $font-family-second;
        font-weight: 600;
        font-size: 1.1rem;
        text-transform: uppercase;
        text-align: center;
        padding-top: 2rem;

        p {
          margin-bottom: 0.2rem;
        }
      }
      &__text {
        color: #fff;
        font-family: $font-family;
        font-size: 0.85rem;
        text-align: center;
      }
    }
  }
}
