.events {
  overflow: hidden;
  &__wrapper {
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;

    @include min-width("xl") {
      padding: 2.7rem 2.5rem;
    }
  }
  &__content {
    padding: 1.5rem 1.5rem 1.5rem 2rem;
    background: #f9fdfd;
    box-shadow: inset 6px 3px 41px -15px rgba(0, 0, 0, 0.75);
    width: 100%;

    &::-webkit-scrollbar {
      width: 0.8rem;
      padding-right: 1rem;
    }
    &::-webkit-scrollbar-thumb {
      background-color: $secondary;
      outline: 1px solid $secondary;
    }

    @include min-width("lg") {
      width: 50%;
      padding: 2rem 4rem;
    }
    @include min-width("xxl") {
      padding: 4rem 7rem 4rem 10rem;
      max-height: 1015px;
      overflow-y: scroll;
    }
  }
  &__accordion {
    border-left: 1px solid grey;

    .card {
      &__header {
        border-bottom: 1px solid grey;
        padding: 0 0 1rem 2.5rem;
        position: relative;

        @include min-width("xl") {
          padding: 0 0 1rem 3.5rem;
        }
      }
      &__link {
        .cl {
          &__event {
            font-family: $font-family-second;
            font-size: 0.7rem;
            text-transform: uppercase;
            font-weight: 700;
            margin-bottom: 0.5rem;
            color: #b3b3b3;
          }
          &__date {
            color: #b3b3b3;
            font-family: $font-family-heading;
            font-size: 1rem;

            @include min-width("xl") {
              font-size: 1.2rem;
            }
          }
        }
      }
      &__title {
        padding: 1rem 0 1rem 2.5rem;
        font-family: $font-family-heading;
        font-size: 1.05rem;
        color: $secondary;

        @include min-width("xl") {
          padding: 1.5rem 0 1.5rem 3.5rem;
        }

        &--show {
          font-size: 1.1rem;

          @include min-width("xl") {
            font-size: 1.5rem;
          }
        }
      }
      &__body {
        padding-left: 2.5rem;

        @include min-width("xl") {
          padding-left: 3.5rem;
        }
        .cb {
          &__image {
            display: block;
            padding-bottom: 1rem;

            @include min-width("lg") {
              display: none;
            }
          }
          &__content {
            font-size: 0.7rem;
            line-height: 0.8rem;
            font-family: $font-family-second;
          }
        }
      }
      &__icon {
        border: 1.3px solid grey;
        border-radius: 50%;
        position: absolute;
        bottom: -1.25rem;
        left: -1.25rem;
        width: 2.5rem;
        height: 2.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #fff;
        z-index: 10;

        .icon-svg {
          max-width: 1.8rem;
        }
      }
      .show {
        .cl__event {
          color: black;
        }
        .cl__date {
          color: $primary;
        }
      }
    }
  }
  &__image {
    display: none;

    @include min-width("lg") {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      width: 50%;
    }
    @include min-width("xxl") {
      min-height: 950px;
      display: block;
    }

    .image {
      width: 100%;
    }
  }
}
