.section {
  &__imageFrameText {
    padding: 2rem 0;
    overflow: hidden;

    @include min-width("xl") {
      padding: 7rem 0;
    }

    .ift {
      &__wrapper {
        display: flex;
        flex-direction: column;

        @include min-width("lg") {
          flex-direction: row;
          justify-content: space-between;
          padding: 0 3rem;
        }
      }
      &__image {
        position: relative;
        box-shadow: 0px 0px 8px -1px rgba(0, 0, 0, 0.75);

        @include min-width("lg") {
          width: 49%;
        }

        &::after {
          @include before(4%, 4%);
          width: 92%;
          height: 92%;
          border: 7px solid $primary;
          box-shadow: inset 1px 0px 8px -1px rgba(0, 0, 0, 0.75);
        }

        .img-fluid {
          width: 100%;
          height: 100%;
        }
      }
      &__content {
        @include min-width("lg") {
          width: 49%;
          padding: 1rem;
        }
      }
      &__title {
        font-family: $font-family-heading;
        font-size: 1.5rem;
        color: $secondary;
        text-transform: uppercase;
        margin: 2rem 0;
        text-align: center;

        @include min-width("lg") {
          font-size: 1.8rem;
          margin: 0 0 2rem 0;
          text-align: left;
        }
      }
      &__text {
        font-family: $font-family;
        font-size: 0.9rem;
        line-height: 1.3rem;
      }
    }
  }
}
