.imageWide {
  &__wrapper {
    display: flex;
    flex-direction: column;

    @include min-width("lg") {
      flex-direction: row;
    }
  }
  &__image {
    position: relative;
    overflow: hidden;

    @include min-width("lg") {
      width: 50%;

      img {
        height: 100%;
        position: absolute;
        top: 0;
        max-width: unset;
      }
    }
    @include min-width("xl") {
      img {
        height: 100%;
        max-width: 100%;
        position: relative;
      }
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;

    @include min-width("lg") {
      width: 50%;
    }

    .iwc {
      &__wrapper {
        padding: 1rem 0.75rem;

        @include min-width("lg") {
          padding: 2rem;
        }

        @include min-width("xxl") {
          max-width: 70%;
          padding: 0 1.6rem 0 0;
        }
      }
      &__title {
        font-family: $font-family-heading;
        font-size: 1.5rem;
        color: $secondary;
        text-transform: uppercase;
        padding-bottom: 2rem;

        @include min-width("xl") {
          font-size: 1.8rem;
        }
      }
      &__text {
        font-size: 0.9rem;
        font-weight: 500;
        font-family: $font-family;

        ul {
          list-style: disc;

          li {
            margin-bottom: 0.3rem;
          }
        }
      }
      &__button {
        padding-top: 1rem;
        display: flex;
        justify-content: flex-start;
      }
    }
    &--left {
      align-items: flex-start;
      .iwc {
        &__wrapper {
          padding: 1rem 0.75rem;

          @include min-width("xl") {
            padding-left: 1.6rem;
            padding-right: unset;
          }
        }
      }
    }
  }
  &--left {
    @include max-width("lg") {
      .imageWide__image {
        order: 2;
      }
      .imageWide__content {
        order: 1;
      }
    }
  }
}
