.lightGallery {
  background: #f1f3f3;
  padding: 5rem 0;

  &__header {
    text-align: center;
    padding: 0 0 5rem;
  }
  &__grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    padding: 0 4rem;
  }
}
