.news {
  padding: 2rem 0;
  background-repeat: no-repeat;
  background-position-y: 110%;
  overflow: hidden;

  @include min-width("lg") {
    padding: 5rem 0;
  }

  &__header {
    display: flex;
    justify-content: center;
    padding: 0 0 2rem;

    @include min-width("lg") {
      padding: 3.5rem;
    }
  }
  &__content {
  }
  &__posts {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    @include min-width("md") {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
  &__item {
    @include min-width("md") {
      max-width: 48%;
    }
    @include min-width("lg") {
      max-width: 30%;
    }

    .ni {
      &__name {
        padding: 1.2rem 0;
        font-size: 1.2rem;
        color: $secondary;
        font-family: $font-family-second;
        font-weight: 900;
      }
      &__content {
        font-size: 0.9rem;
        font-family: $font-family-second;
        color: black;
      }
    }
  }
  &__link {
    &:hover {
      text-decoration: none;
    }
  }
  &__image {
    overflow: hidden;
    position: relative;

    &::after {
      @include before(0.5rem, 0.5rem);
      width: calc(100% - 1rem);
      height: calc(100% - 1rem);
      border: 6px solid $primary;
      box-shadow: inset 1px 0px 8px -1px rgba(0, 0, 0, 0.75);
      transition: all 2s ease-out;
    }

    .img-fluid {
      width: 100%;
    }
  }
  &__button {
    display: flex;
    justify-content: center;
    padding: 2rem 0;

    @include min-width("lg") {
      padding: 3.5rem;
    }
  }
}
