.past-events {
  padding: 2rem 0;
  background-repeat: no-repeat;
  background-position-y: 61.3%;
  background-size: cover;
  overflow: hidden;

  @include min-width("lg") {
    padding: 5rem 0;
  }

  &__header {
    display: flex;
    justify-content: center;
    padding: 0 0 2rem;

    @include min-width("lg") {
      padding: 3.5rem;
    }
  }
  &__content {
  }
  &__posts {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    @include min-width("md") {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
  &__item {
    @include min-width("md") {
      max-width: 48%;
    }
    @include min-width("lg") {
      max-width: 30%;
    }

    .pei {
      &__name {
        padding: 1.2rem 0 0;
        font-size: 1.2rem;
        color: $secondary;
        font-family: $font-family-second;
        font-weight: 900;
      }
      &__content {
        padding-top: 1.2rem;
        font-size: 0.9rem;
        font-family: $font-family-second;
        color: black;
      }
      &__date {
        font-size: 0.8rem;
        font-family: $font-family-second;
        color: black;
      }
      &__button {
        width: 100%;
        display: flex;
        justify-content: center;
      }
    }
  }
  &__link {
    &:hover {
      text-decoration: none;
    }
  }
  &__image {
    overflow: hidden;
    position: relative;

    .img-fluid {
      width: 100%;
    }
  }
  &__button {
    display: flex;
    justify-content: center;
    padding: 2rem 0;

    @include min-width("lg") {
      padding: 3.5rem;
    }
  }
  &__pagination {
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;

    .pages {
      display: flex;
      padding-left: 0;

      .single {
        cursor: pointer;

        .page-number {
          width: 111px;
          height: 111px;
          font-size: 1.2rem;
          font-family: $font-family-second;
          font-weight: 700;
          color: black;
          padding: 0 3rem;
          background-image: url("../images/icons/gold_star.png");
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        .current {
          background-image: url("../images/icons/blue_star.png");
          color: #fff;
        }
      }
    }
  }
}
