.season-calendar {
  padding: 3rem 0;
  position: relative;

  &__title {
    display: flex;
    justify-content: center;

    .section-title {
      text-align: center;
      padding: 0 2rem;

      @include min-width("lg") {
        max-width: 70%;
      }
    }
  }
  &__legend {
    color: $secondary;
    font-family: $font-family-second;
    font-size: 0.8rem;
    font-weight: 700;
    display: none;

    @include min-width("xxl") {
      position: absolute;
      max-width: 290px;
      left: 9%;
      top: 23%;
    }

    .scl {
      &__wrapper {
        padding: 2rem 10%;

        @include min-width("lg") {
          padding: 2rem 13%;
        }
        @include min-width("xxl") {
          padding: unset;
        }
      }
      &__yellow {
        margin-bottom: 1rem;

        span {
          background: $primary;
          padding: 0.15rem 0.3rem;
        }
      }
      &__red {
        span {
          background: $color-red;
          padding: 0.15rem 0.3rem;
        }
      }
    }

    &--visiable {
      display: block;
    }

    p {
      margin-bottom: 1rem;
    }
  }
}
