.titleText {
  &__content {
    padding: 4.5rem 0 4rem;
    text-align: center;
  }
  &__title {
    font-family: $font-family-heading;
    color: $secondary;
    font-size: 1.8rem;
    text-transform: uppercase;
    padding-bottom: 2.5rem;
  }
  &__text {
    font-size: 0.9rem;
    font-family: $font-family;
    font-weight: 500;

    a {
      text-decoration: underline;
      color: black;
    }
  }
}
