.trivia {
  overflow: hidden;
  &__header {
    padding: 2rem 0;
    display: flex;
    justify-content: center;

    @include min-width("lg") {
      padding: 5rem 0;
    }
  }
  &__wrapper {
    padding: 0;
    background-color: $primary;
  }
  &__content {
    background: $primary;
    box-shadow: unset;
  }
  .card__link {
    .cl__event {
      color: #fff !important;
    }
  }
  .card__header {
    border-bottom: 1px solid #fff;
  }
  .events__accordion {
    border-left: 1px solid #fff;
  }
}
