.video {
  &__header {
    display: flex;
    justify-content: center;
    position: relative;

    &::after {
      @include before(0px, -70px);
      width: 100%;
      height: 643px;
      z-index: -1;
      filter: opacity(0.6);
      background-image: url("../images/section_background.png");
    }
  }
  &__embed {
    display: flex;
    justify-content: center;
  }
}
