.welcome {
  &__header {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem 0;

    .section-title {
      text-align: center;
      margin-bottom: 0;
    }
  }
}
