.widgetBanner {
  background-size: cover;
  position: relative;
  padding: 0 1rem;

  &:after {
    @include before(0, 0);
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background: black;
    z-index: 0;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 450px;
    padding: 0 1rem;
    z-index: 10;
    padding: 4rem 0;

    @include min-width("lg") {
      flex-direction: row;
      justify-content: space-around;
    }

    &:before {
      @include before(0, 0);
      width: 100%;
      height: 10px;
      background: $secondary;
      box-shadow: 0px 5px 13px -4px rgba(0, 0, 0, 0.75);

      @include min-width("lg") {
        @include before(0, -12px);
        height: 12px;
      }
    }

    &:after {
      @include before(0, unset);
      top: 0px;
      width: 100%;
      height: 10px;
      background: $color-american-red;
      box-shadow: 0px -5px 13px -4px rgba(0, 0, 0, 0.75);

      @include min-width("lg") {
        @include before(0, unset);
        top: -12px;
        height: 12px;
      }
    }
  }
  &__text {
    z-index: 100;

    @include min-width("lg") {
      width: 32%;
    }

    .title {
      color: $primary;
      font-size: 1.1rem;
      font-family: $font-family-heading;
      text-transform: uppercase;
      padding-bottom: 1.3rem;

      @include min-width("lg") {
        font-size: 1.4rem;
        padding-bottom: 1.5rem;
      }
    }
    .text {
      color: #eee;
      font-family: $font-family-second;
      font-size: 0.9rem;

      p {
        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }
  }
  &__widget {
    z-index: 100;
    width: 420px;
    height: 440px;
    max-width: 100%;
  }
}
