.zones {
  padding: 2rem 0 0;

  @include min-width("lg") {
    padding: 5rem 0 0;
  }

  &__header {
    display: flex;
    justify-content: center;
    padding: 2rem;
  }
  &__grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 10px;

    @include min-width("md") {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(4, 1fr);
      grid-column-gap: 10px;
      grid-row-gap: 10px;
    }

    @include min-width("xl") {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(3, 230px);
      grid-column-gap: 1rem;
      grid-row-gap: 1rem;
    }
  }
  &__item {
    position: relative;
    display: flex;
    align-items: flex-end;
    padding: 1.1rem;
    cursor: pointer;
    overflow: hidden;
    min-height: 400px;
    background-size: cover;

    @include min-width("lg") {
      min-height: unset;
      background-size: unset;
    }

    &::after {
      @include before(0.5rem, 0.5rem);
      width: calc(100% - 1rem);
      height: calc(100% - 1rem);
      border: 6px solid $primary;
      box-shadow: inset 1px 0px 8px -1px rgba(0, 0, 0, 0.75);
      transition: all 2s ease-out;
    }
    /*
    &--1 {
      grid-area: 1 / 1 / 2 / 2;
    }
    &--2 {
      grid-area: 2 / 1 / 3 / 2;
    }
    &--3 {
      grid-area: 3 / 1 / 4 / 2;
    }
    &--4 {
      grid-area: 4 / 1 / 5 / 2;
    }
    &--5 {
      grid-area: 5 / 1 / 6 / 2;
    }
    &--6 {
      grid-area: 6 / 1 / 7 / 2;
    }
    &--7 {
      grid-area: 7 / 1 / 8 / 2;
    }
    &--8 {
      grid-area: 8 / 1 / 9 / 2;
    } */

    @include min-width("xl") {
      &--1 {
        grid-area: 1 / 1 / 3 / 2;
      }
      &--2 {
        grid-area: 3 / 1 / 4 / 2;
      }
      &--3 {
        grid-area: 1 / 2 / 2 / 3;
      }
      &--4 {
        grid-area: 2 / 2 / 4 / 3;
      }
      &--5 {
        grid-area: 1 / 3 / 3 / 4;
      }
      &--6 {
        grid-area: 3 / 3 / 4 / 4;
      }
      &--7 {
        grid-area: 2 / 4 / 4 / 5;
      }
      &--8 {
        grid-area: 1 / 4 / 2 / 5;
      }
    }

    .zi {
      &__name {
        font-family: $font-family-heading;
        font-size: 1.2rem;
        color: $primary;
        text-shadow: 1px 1px 1px black;
      }
      &__hover-box {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: -100%;
        background-color: $primary;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        opacity: 0.88;
        transition: all 1s ease-out;

        .svg-icon {
          max-width: 3rem;
        }
        .title {
          font-family: $font-family-heading;
          font-size: 1.1rem;
          color: $secondary;
          margin-bottom: 0.7rem;
        }
        .description {
          font-family: $font-family-second;
          line-height: 1.2rem;
          font-size: 0.8rem;
          color: $secondary;
        }
      }
    }
    &:hover {
      &::after {
        display: none;
        transition: all 2s ease-out;
      }
      .zi__hover-box {
        left: 0;
      }
    }
  }
}
