<section class="section section__banner">
  <div class="swiper-container js-swiper-banner">
    <div class="swiper-wrapper">

        {% for post in slider %}

          <div class="swiper-slide">
              <div class="section__banner__content">
                <figure class="sb__image">
                    <img src="{{ Image(post.image) }}" class="img-fluid">
                </figure>
              </div>
          </div>
        {% endfor %}


        <div class="swipper-naviagation">
          <div class="swiper-prev">{{ teik_svg('icons/left-arrow.svg') }}</div>
          <div class="swiper-next">{{ teik_svg('icons/right-arrow.svg') }}</div>
        </div>
      </div>
            <!-- Add Pagination -->
      <div class="swiper-pagination swiper-pagination-white"></div>
    </div>


      <div class="sb__widget">
        <div class="sbw__wrapper">
          <figure class="sbw__slogan">
              <img src="{{ Image(slogan) }}" class="img-fluid">
          </figure>
          <div class="sbw__widget">
            {% include 'components/elements/widget.twig' %}
          </div>
        </div>
      </div>






  </div>

  {% include 'components/elements/flagUnderBaner.twig' %}

  <a href="http://" target="_blank" rel="noopener noreferrer"></a>


</section>