<section class="section section__callToBuy callToBuy" style="background-image: url('{{ Image(background_image).src }}')">
  <div class="container">
    <div class="callToBuy__wrapper">
      <figure class="callToBuy__icon">
        <img src="{{ Image(icon) }}" class="icon-svg">
      </figure>
      <div class="callToBuy__content">
        <h2 class="callToBuy__title">{{title}}</h2>
        <div class="callToBuy__subtitle">{{subtitle}}</div>

        <div class="callToBuy__buttons">

          {% for item in buttons %}

            <a class="button button--{{loop.index}} button--buy" href="{{item.button.url}}" target="_blank" >{{item.button.title}}</a>

          {% endfor %}

        </div>
      </div>

      {% if welcome %}

        <div class="callToBuy__welcome">
          <h3 class="section-title">{{welcome}}</h3>
        </div>

      {% endif %}

    </div>
  </div>
</section>