

<div class="modal fade" id="event-modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Event</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
			</div>
			<div class="modal-body">
				<input type="hidden" name="event-index">
				<form class="form-horizontal">
					<div class="form-group row">
						<label for="event-name" class="col-sm-4 control-label">Name</label>
						<div class="col-sm-8">
							<input id="event-name" name="event-name" type="text" class="form-control">
						</div>
					</div>
					<div class="form-group row">
						<label for="event-location" class="col-sm-4 control-label">Location</label>
						<div class="col-sm-8">
							<input id="event-location" name="event-location" type="text" class="form-control">
						</div>
					</div>
					<div class="form-group row">
						<label for="min-date" class="col-sm-4 control-label">Dates</label>
						<div class="col-sm-8">
							<div class="input-group input-daterange" data-provide="datepicker">
								<input id="min-date" name="event-start-date" type="text" class="form-control">
                <div class="input-group-prepend input-group-append">
                    <div class="input-group-text">to</div>
                </div>
								<input name="event-end-date" type="text" class="form-control">
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
				<button type="button" class="btn btn-primary" id="save-event">
					Save
				</button>
			</div>
		</div>
	</div>
</div>
<div id="context-menu">
</div>

<div class="contact">
    <div class="container">
        <div class="contact__wrapper">
            <div class="contact__column contact__column--1">
                <h5 class='cc__title'>Biuro obsługi klienta</h5>
                <div class='cc__mail'>
                    {{ teik_svg('icons/Icon_mail.svg') }}
                    <a class='cc__href' href="mailto:{{options.mail_ofice}}">{{options.mail_ofice}}</a>
                </div>
                <div class='cc__phone'>
                    {{ teik_svg('icons/Icon_phone.svg') }}
                    <a class='cc__href' href="tel:{{options.phone_office}}">{{options.phone_office}}</a>
                </div>
            </div>
            <div class="contact__column contact__column--2">
                <h5 class='cc__title'>Poza godzinami otwarcia (recepcja hotelu texas)</h5>
                <div class='cc__phone'>
                    {{ teik_svg('icons/Icon_phone.svg') }}
                    <a class='cc__href' href="tel:{{options.hotel_reception}}">{{options.hotel_reception}}</a>
                </div>
            </div>
            <div class="contact__column contact__column--3">
                <div class='cc__social'>
                    {{ teik_svg('facebook.svg') }}
                    <a class='cc__href'  target="_blank" href="{{options.instagram}}">Facebook</a>
                </div>
                <div class='cc__social'>
                    {{ teik_svg('instagram.svg') }}
                    <a class='cc__href'  target="_blank" href="{{options.facebook}}">Instagram</a>
                </div>
            </div>
        </div>
    </div>
</div>