<section class="section section__drive drive" style="background-image: url('{{ Image(background_image).src }}')">
    <div class="container">
        <div class="drive__header">
            <h3 class="section-title">{{title}}</h3>
        </div>
        <div class="drive__items">

        {% for item in items %}

            <div class="drive__single">
                <figure class="ds__icon">
                    <img class="image" src="{{ Image(item.icon) }}">
                </figure>
                <h4 class="ds__title">{{item.title}}</h4>
                <div class="ds__text">{{item.text}}</div>

            </div>

        {% endfor %}

        </div>
    </div>
</section>