<section class="section section__events events" >
    <div id="accordion" class="events__wrapper" style="background-image: url('{{ Image(background_image).src }}')">
        <div class="events__content">

            <div class="events__accordion" >

            {% for item in events %}
            {% set show = (loop.index == 1) ? 'show' : '' %}

                    <div class="events__card card">
                        <div class="card__header {{show}}" id="heading{{loop.index}}" data-toggle="collapse" data-target="#collapse{{loop.index}}" aria-expanded="true" aria-controls="collapse{{loop.index}}">
                            <figure class="card__icon">
                                <img src="{{ Image(item.custom.icon) }}" class="icon-svg">
                            </figure>
                            <h2 class="mb-0">
                                <div class="card__link" >
                                    <span class="cl__event">Wydarzenie</span>
                                    <div class="cl__date">{{item.custom.event_start}}</div>
                                </div>
                            </h2>
                        </div>
                        <div class="card__title card__title--{{show}}" data-toggle="collapse" data-target="#collapse{{loop.index}}" aria-expanded="true" aria-controls="collapse{{loop.index}}">{{item.post_title}}</div>

                        <div id="collapse{{loop.index}}" class="collapse {{show}}" aria-labelledby="heading{{loop.index}}" data-parent="#accordion">
                        <div class="card__body">
                            <figure class="cb__image">
                                <img class="image" src="{{ Image(item._thumbnail_id) }}">
                            </figure>
                            <div class="cb__content">{{item.post_content}}</div>
                        </div>
                        </div>
                    </div>

            {% endfor %}
            </div>

        </div>
        <div class="events__image">

        {% for item in events %}
        {% set show = (loop.index == 1) ? 'show' : '' %}

            <figure id="collapse{{loop.index}}" class="collapse {{show}}" aria-labelledby="heading{{loop.index}}" data-parent="#accordion">
                <img class="image" src="{{ Image(item._thumbnail_id) }}">
            </figure>

        {% endfor %}

        </div>
    </div>
</section>