
{% set left = (position == 'left') ? 'left' : '' %}
<section class="section section__imageWide imageWide imageWide--{{left}}">

    <div class="imageWide__wrapper">

    {% if position == 'left' %}

      <figure class="imageWide__image">
        <img src="{{ Image(image) }}" class="img-fluid">
      </figure>
      <div class="imageWide__content imageWide__content--left" style="background-image: url('{{ Image(background_image).src }}')">
        <div class="iwc__wrapper">
          <h2 class="iwc__title" style="color: {{header_color}}">{{title}}</h2>
          <div class="iwc__text" style="color: {{text_color}}">{{text}}</div>


          {% if button %}

            <div class="iwc__button">

            {% if button.url == '#' %}
              <div class="button button--buy" style="background-color: {{button_color}}">{{button.title}}</div>
            {% else %}
              <a class="button button--buy" style="background-color: {{button_color}}" href="{{button.url}}" target="_blank" rel="noopener noreferrer">{{button.title}}</a>
            {% endif %}

            </div>

          {% endif %}

        </div>
      </div>

      {% else %}
      <div class="imageWide__content imageWide__content--right" style="background-image: url('{{ Image(background_image).src }}')">
        <div class="iwc__wrapper">
          <h2 class="iwc__title" style="color: {{header_color}}">{{title}}</h2>
          <div class="iwc__text" style="color: {{text_color}}">{{text}}</div>

          {% if button %}

            <div class="iwc__button">

            {% if button.url == '#' %}
              <div class="button button--buy" style="background-color: {{button_color}}">{{button.title}}</div>
            {% else %}
              <a class="button button--buy" style="background-color: {{button_color}}" href="{{button.url}}" target="_blank" rel="noopener noreferrer">{{button.title}}</a>
            {% endif %}

            </div>

          {% endif %}

        </div>


      </div>

        <figure class="imageWide__image">
        <img src="{{ Image(image) }}" class="img-fluid">
        </figure>

      {% endif %}


     </div>



</section>