<section class="section section__Imagebanner Imagebanner">
    <div class="Imagebanner__content" style="background-image: url('{{ Image(background_image).src }}')">
    </div>

  {% include 'components/elements/flagUnderBaner.twig' %}

</section>