<section class="section section__imageFrameText">
  <div class="container">
    <div class="ift__wrapper">
      <figure class="ift__image">
        <img src="{{ Image(image) }}" class="img-fluid">
      </figure>
      <div class="ift__content">
        <h2 class="ift__title">{{title}}</h2>
        <div class="ift__text">{{text}}</div>
      </div>
      </div>
    </div>
  </div>


</section>