<div  class="lightGallery">
    <div class="lightGallery__header">
        <h3 class="section-title">{{title}}</h3>
    </div>
    <div id="animated-thumbnials" class="lightGallery__grid">

        {% for item in gallery %}

            <a class="lightGallery__item" href="{{ Image(item.image) }}">
                <img src="{{ Image(item.image) }}" />
            </a>

        {% endfor %}

    </div>
</div>