<section class="section section__news news" style="background-image: url('{{ Image(background_image).src }}')">
    <div class="container">
        <div class="news__header">
            <h3 class="section-title">{{title}}</h3>
        </div>
        <div class="news__content" >
            <div class="news__posts">

            {% for item in news %}

                <div class="news__item news__item--{{loop.index}}">
                    <a class="news__link" href="{{item.guid}}">
                        <figure class="news__image">
                            <img src="{{ Image(item._thumbnail_id) }}" class="img-fluid">
                        </figure>
                        <div class="ni__name">{{item.post_title}}</div>
                        <div class="ni__content">{{item.post_content}}</div>
                    </a>
                </div>


            {% endfor %}

            </div>
            <div class="news__button">
                <a class="button button--buy" href="{{button.url}}" target="_blank" >{{button.title}}</a>
            </div>
        </div>
    </div>

</section>