<section class="section section__past-events past-events" style="background-image: url('{{ Image(background_image).src }}')">
    <div class="container">
        <div class="past-events__header">
            <h3 class="section-title">{{title}}</h3>
        </div>
        <div class="past-events__content" >
            <div class="past-events__posts">



            {% for item in events %}

                <div class="past-events__item past-events__item--{{loop.index}}">
                    <a class="past-events__link" href="{{item.guid}}">
                        <figure class="past-events__image">
                            <img src="{{ Image(item._thumbnail_id) }}" class="img-fluid">
                        </figure>
                        <div class="pei__name">{{item.post_title}}</div>
                    </a>
                    <div class="pei__date">{{item.post_date|date("d.m.Y")}}</div>
                    <div class="pei__content">{{item.post_content}}</div>
                    <di class="pei__button">
                        <a class="pei__href button button--buy" href="{{item.guid}}">Więcej</a>
                    </di>
                </div>


            {% endfor %}


            </div>
        </div>
        <div class="past-events__pagination">
{#                 {% if events.pagination.prev %}
                <a href="{{events.pagination.prev.link}}" class="prev {{events.pagination.prev.link|length ? '' : 'invisible'}}">Prev</a>
            {% endif %} #}
            <ul class="pages">
                {% for page in events.pagination.pages %}
                    <li class="single">
                        {% if page.link %}
                            <a href="{{page.link}}" class="{{page.class}}">{{page.title}}</a>
                        {% else %}
                            <span class="{{page.class}}">{{page.title}}</span>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
{#                 {% if events.pagination.next %}
                <a href="{{events.pagination.next.link}}" class="next {{events.pagination.next.link|length ? '' : 'invisible'}}">Next</a>
            {% endif %} #}
        </div>
    </div>

</section>