<section class="season-calendar">
    <div class="season-calendar__title">
        <h3 class="section-title">{{title}}</h3>
    </div>
    <div id="CalendarLegend" class="season-calendar__legend">
    <div class="scl__wrapper">
        {{legend}}
        <div class="scl__yellow"><span>1</span> Wydarzenia</div>
        <div class="scl__red"><span>2</span> Park zarezerwowany</div>
    </div>
    </div>
    <div id="SeasonCalendar" class="seasonCalendar"></div>
</section>
