<section class="section section__titleText titleText">
    <div class="container">
        <div class="titleText__content">
            <h1 class="titleText__title">{{title}}</h1>
            <div class="titleText__text">{{text}}</div>
        </div>
    </div>
</section>