<section class="section section__events events trivia">
    <div class="trivia__header">
        <h3 class="section-title">{{title}}</h3>
    </div>
    <div id="trivia-accordion" class="events__wrapper trivia__wrapper">
        <div class="events__image">

        {% for item in trivia %}
            {% set show = (loop.index == 1) ? 'show' : '' %}

            <figure id="triviaCollapse{{loop.index}}" class="ei__image collapse {{show}}" aria-labelledby="trivia-heading{{loop.index}}" data-parent="#trivia-accordion">
                <img class="image" src="{{ Image(item._thumbnail_id) }}">
            </figure>

        {% endfor %}

        </div>
        <div class="events__content trivia__content">
            <div class="events__accordion">

            {% for item in trivia %}
            {% set show = (loop.index == 1) ? 'show' : '' %}

                    <div class="events__card card">
                        <div class="card__header {{show}}" id="trivia-heading{{loop.index}}" data-toggle="collapse" data-target="#triviaCollapse{{loop.index}}" aria-expanded="true" aria-controls="triviaCollapse{{loop.index}}">
                            <figure class="card__icon">
                                <img src="{{ Image(item.custom.icon) }}" class="icon-svg">
                            </figure>
                            <h2 class="mb-0">
                                <div class="card__link" >
                                    <span class="cl__event">{{item.custom.category}}</span>
                                    <div class="cl__date">{{item.custom.event_start}}</div>
                                </div>
                            </h2>
                        </div>
                        <div class="card__title card__title--{{show}}" data-toggle="collapse" data-target="#triviaCollapse{{loop.index}}" aria-expanded="true" aria-controls="triviaCollapse{{loop.index}}">{{item.post_title}}</div>

                        <div id="triviaCollapse{{loop.index}}" class="collapse {{show}}" aria-labelledby="trivia-heading{{loop.index}}" data-parent="#trivia-accordion">
                            <div class="card__body">
                                <figure class="cb__image">
                                    <img class="image" src="{{ Image(item._thumbnail_id) }}">
                                </figure>
                                <div class="cb__content">{{item.post_content}}</div>
                            </div>
                        </div>
                    </div>

            {% endfor %}
            </div>

        </div>
    </div>
</section>