<section class="section section__video video">
    <div class="container">
        <div class="video__header">
            <h3 class="section-title">{{title}}</h3>
        </div>
        <div class="video__embed">
            <video controls  poster="{{video_poster}}">
                <source
                src="{{video_file}}"
                type="video/mp4">
            </video>
        </div>
    </div>

</section>