<section class="section section__welcome welcome">
    <div class="container">
        <div class="welcome__header">
            <h3 class="section-title">{{title}}</h3>
        </div>
    </div>
</section>