<section class="section section__widgetBanner widgetBanner" style="background-image: url('{{ Image(background_image).src }}')">

    <div class="widgetBanner__wrapper">
        <div class="widgetBanner__text">
            <h3 class="title">{{title}}</h3>
            <div class="text">
                {{text}}
            </div>
        </div>
        <div class="widgetBanner__widget">
        {% include 'components/elements/widget2.twig' %}
        </div>
    </div>

</section>