<section class="section section__zones zones">
    <div class="container">
        <div class="zones__header">
            <h3 class="section-title">{{title}}</h3>
        </div>
        <div class="zones__content">
            <div class="zones__grid">

            {% for item in zones %}

                <div class="zones__item zones__item--{{loop.index}}" style="background-image:url('{{Image(item.custom.masonery_image)}}')">

                    {# <img class="zi__image" src="{{ Image(item.custom.masonery_image) }}" class="img-fluid"> #}

                    <div class="zi__name">{{item.post_title}}</div>

                    <div class="zi__hover-box">
                        <img src="{{Image(item.custom.icon)}}" class="svg-icon">
                        <h4 class="title">{{item.post_title}}</h4>
                        <div class="description">{{item.custom.hover_description}}</div>

                    </div>

                </div>


            {% endfor %}

            </div>
        </div>
    </div>

</section>