$color-primary: #ffcc00;
$color-primary-light: #ffad42;
$color-primary-dark: #bb4d00;
$primary: $color-primary;

$color-secondary: #042b60;
$color-secondary-light: #353535;
$color-secondary-dark: #000;

$secondary: $color-secondary;

$color-text: #000;
$color-text-grey: #3e5f7c;

$color-red: #e3051b;
$color-american-red: #bf0a30;

$color-success: #64dd17;
$color-success-dark: darken($color-success, 10%);

$color-error: #d50000;
$color-error-dark: darken($color-error, 10%);
