html {
  font-size: 20px;
}
body {
  color: $color-text;
}
::selection {
  background: $color-primary;
  color: #fff;
}
%sr-only,
.sr-only {
  position: absolute;
  width: 1px !important;
  height: 1px !important;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
%list-unstyled,
.list-unstyled {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  transition: all 0.3s;
  color: $color-primary-dark;
  &:hover,
  &:focus {
    color: $color-secondary;
  }
}
p {
  margin-bottom: 1.7em;
  line-height: 1.2;
}
svg {
  width: 100%;
  height: auto;
  display: inline-block;
}
img {
  max-width: 100%;
  height: auto;
  display: inline-block;
}
button {
  cursor: pointer;
  [disabled],
  [disabled="true"] {
    cursor: not-allowed;
  }
}

ul,
ol,
dl {
  padding-left: 20px;
}
.container {
  max-width: 1350px;
  @include min-width("xl") {
    &--narrow {
      max-width: 1000px;
    }
  }
}
.section-title {
  font-size: 1.5rem;
  color: $secondary;
  font-family: $font-family-heading;
  text-transform: uppercase;

  @include min-width("lg") {
    font-size: 1.8rem;
  }
}

.privacy-policy .pagewrap {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 60px;
  padding-bottom: 60px;
  margin-right: auto;
  margin-left: auto;
  max-width: 540px;
  font-family: $font-family-second;
  color: $secondary;
  font-weight: 300;
  line-height: 1.2;

  h2 {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 2rem;
  }

  h3 {
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: 1rem;
  }

  .img-fluid {
    width: 100%;
    height: 100%;
  }

  @include min-width("sm") {
    max-width: 720px;
  }
  @include min-width("md") {
    max-width: 960px;
  }
  @include min-width("lg") {
    max-width: 1140px;
  }
  @include min-width("xl") {
    max-width: 1350px;
  }
}
